Data set from Kaggle：https://www.kaggle.com/datasets/jsphyg/weather-dataset-rattle-package

This dataset contains about 10 years of daily weather observations from many locations across Australia.
Observations were drawn from numerous weather stations. The daily observations are available from http://www.bom.gov.au/climate/data.

In [ ]:
import pandas as pd

In [4]:
#read the data
weather = pd.read_csv('weatherAUS.csv')
weather.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [16]:
# look at null data
weather.isnull().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [69]:
weather_new = weather.iloc[:,0:5]
weather_new.head()

         Date Location  MinTemp  MaxTemp  Rainfall
0  2008-12-01   Albury     13.4     22.9       0.6
1  2008-12-02   Albury      7.4     25.1       0.0
2  2008-12-03   Albury     12.9     25.7       0.0
3  2008-12-04   Albury      9.2     28.0       0.0
4  2008-12-05   Albury     17.5     32.3       1.0

In [83]:
weather_new.dtypes

Date           object
Location       object
MinTemp       float64
MaxTemp       float64
Rainfall      float64
Daily_Temp    float64
dtype: object

In [71]:
weather_new= weather_new.dropna(axis = 'index')

In [73]:
#we find some station only have the 5 year weather record. so we remove these station
weather_new.groupby('Location').count()['Date']
five_years_weather = weather_new.groupby('Location').count()['Date'][weather_new.groupby('Location').count()['Date']<2000]

In [74]:
five_years_weather.index
indexStation = weather_new[ (weather_new['Location'] == 'Katherine') | (weather_new['Location'] == 'Nhil') | (weather_new['Location'] == 'Uluru') ].index
weather_new = weather_new.drop(indexStation)
weather_new.groupby('Location').count()['Date']

Location
Adelaide            3089
Albany              2928
Albury              3002
AliceSprings        3029
BadgerysCreek       2919
Ballarat            3027
Bendigo             3030
Brisbane            3145
Cairns              2987
Canberra            3411
Cobar               2984
CoffsHarbour        2944
Dartmoor            2937
Darwin              3191
GoldCoast           2975
Hobart              3187
Launceston          3022
Melbourne           2434
MelbourneAirport    3009
Mildura             3007
Moree               2852
MountGambier        3027
MountGinini         2857
Newcastle           2565
NorahHead           2917
NorfolkIsland       2962
Nuriootpa           2984
PearceRAAF          2731
Penrith             2953
Perth               3192
PerthAirport        3009
Portland            2986
Richmond            2939
Sale                2998
SalmonGums          2943
Sydney              3333
SydneyAirport       3005
Townsville          3031
Tuggeranong         2994
WaggaWagga          2976
Walpole             2796
Watsonia            2994
Williamtown         2548
Witchcliffe         2943
Wollongong          2974
Woomera             2984
Name: Date, dtype: int64

In [75]:
#calcualte the daily average temperature
weather_new['Daily_Temp'] = (weather_new['MinTemp']+weather_new['MaxTemp'])/2

In [84]:
#change the type of Date
weather_new['Date']= pd.to_datetime(weather_new['Date'])

In [99]:
weather_new.dtypes

Date          datetime64[ns]
Location              object
MinTemp              float64
MaxTemp              float64
Rainfall             float64
Daily_Temp           float64
Year                   int64
Month                  int64
Day                    int64
dtype: object

In [97]:
#separate Date into year, month, day
weather_new['Year'] = weather_new['Date'].dt.year
weather_new['Month'] = weather_new['Date'].dt.month
weather_new['Day'] = weather_new['Date'].dt.day

In [100]:
#Look at data
weather_new.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Daily_Temp,Year,Month,Day
0,2008-12-01,Albury,13.4,22.9,0.6,18.15,2008,12,1
1,2008-12-02,Albury,7.4,25.1,0.0,16.25,2008,12,2
2,2008-12-03,Albury,12.9,25.7,0.0,19.30,2008,12,3
3,2008-12-04,Albury,9.2,28.0,0.0,18.60,2008,12,4
4,2008-12-05,Albury,17.5,32.3,1.0,24.90,2008,12,5

In [ ]:
weather_new.describe()

In [86]:
#how many station
weather_new.nunique()

Date          3436
Location        46
MinTemp        387
MaxTemp        503
Rainfall       672
Daily_Temp    1491
dtype: int64

In [113]:
#calculate the average rainfall for each station
weather_average_rainfall = weather_new.groupby(['Location', 'Year']).sum()['Rainfall']
weather_average_rainfall = weather_average_rainfall.groupby(['Location']).mean()
weather_average_rainfall

D:\temp\ipykernel_107276\1147656146.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  weather_average_rainfall = weather_new.groupby(['Location', 'Year']).sum()['Rainfall']

Location
Adelaide             483.880000
Albany               665.520000
Albury               576.320000
AliceSprings         267.180000
BadgerysCreek        711.555556
Ballarat             526.380000
Bendigo              491.300000
Brisbane             990.720000
Cairns              1715.720000
Canberra             541.200000
Cobar                373.666667
CoffsHarbour        1657.555556
Dartmoor             701.666667
Darwin              1622.200000
GoldCoast           1123.280000
Hobart               510.660000
Launceston           607.700000
Melbourne            455.360000
MelbourneAirport     485.444444
Mildura              315.755556
Moree                516.955556
MountGambier         631.360000
MountGinini          934.580000
Newcastle            760.050000
NorahHead           1097.822222
NorfolkIsland       1029.888889
Nuriootpa            458.288889
PearceRAAF           506.211111
Penrith              635.780000
Perth                608.680000
PerthAirport         588.977778
Portland             841.377778
Richmond             700.800000
Sale                 502.166667
SalmonGums           337.288889
Sydney              1107.300000
SydneyAirport       1004.977778
Townsville          1057.180000
Tuggeranong          645.480000
WaggaWagga           565.422222
Walpole              904.133333
Watsonia             619.711111
Williamtown         1018.077778
Witchcliffe          949.133333
Wollongong          1070.400000
Woomera              162.977778
Name: Rainfall, dtype: float64

In [104]:
#calculate the monthly average temperature for each station
weather_average_temp = weather_new.groupby(['Location', 'Month']).mean()['Daily_Temp']
weather_average_temp

D:\temp\ipykernel_107276\2504045342.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  weather_average_temp = weather_new.groupby(['Location', 'Month']).mean()['Daily_Temp']

Location  Month
Adelaide  1        24.500184
          2        23.930357
          3        21.495185
          4        18.110593
          5        14.936293
                     ...
Woomera   8        13.635976
          9        16.985000
          10       20.744556
          11       24.129583
          12       25.969952
Name: Daily_Temp, Length: 552, dtype: float64

In [114]:
#write data into two files
weather_average_rainfall.to_csv('average_rainfall.csv', index=None)
weather_average_temp.to_csv('average_temp.csv', index=None)